<nav>
  <a href="/signup">Sign Up</a>
  <a href="/signin">Sign In</a>
</nav>
<main>
  <h2>{{title}}</h2>
  {{#if error}}
    <p style="color: red;">{{error}}</p>
  {{/if}}
  <form action="/signup" method="POST">
    <label for="fullname">To‘liq ism:</label>
    <input type="text" name="fullname" id="fullname" required value="{{fullname}}">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required value="{{email}}">
    <label for="password">Parol:</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Ro‘yxatdan o‘tish</button>
  </form>
  <p>Hisobingiz bormi? <a href="signin">Kirish</a></p>
</main>
